@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-size: 62.5% !important;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    font-family: 'Poppins', Courier, monospace, sans-serif;
}


/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.modal {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.8rem;
    font-size: 1.5rem !important;
}

tr{
    width: 100% !important;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Button styling */
.btn-actions {
    display: flex;
    justify-content: space-between;
}

.btn-actions button {
    margin-right: 0.5rem;
}

.form-group {
    font-size: 3rem !important;
}

input[type="text"],
input[type="email"],
input[type="month"],
#address,
#dob {
    font-size: 1.5rem !important;
}

td {
    font-size: 1.5rem !important;
}

button {
    font-size: 1.5rem !important;
}

.hidden {
    display: none;
}


.modal-content {
    background-image: linear-gradient(to right, #141e30, #243b55);
}

button.btn-close{
    filter: invert(1    );
}

.alert-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 4px;
}

.error{
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 4px;
}

button{
    color: white !important;
}

.dt-column-title{
font-size: 2rem !important;
}

body > main > h2{
    font-size: 3rem !important;
}

#dt-length-0{
    font-size: 1.5rem !important;
    background-color: white;
}


#collTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-start > div > label{
    font-size: 1.5rem !important;
    color: white;
    margin-left: 1rem;
}

#collTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-end > div > label{
    font-size: 1.5rem !important;
    color: white;
    margin-right: 1rem;
}

#collTable_info{
    font-size: 1.5rem !important;
    color: white;
}

#collTable_wrapper > div:nth-child(1) > div.dt-layout-cell.dt-end > div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#collTable_wrapper > div.dt-layout-row.dt-layout-table > div{
    width: 100% !important;
}

#dt-search-0{
    background-color: white;
    border-radius: .5em;
    font-size: 1.5rem !important
}

.ui-state-default.ui-state-disabled{
    background-color: rgb(65,65,65);
    color: white;
    transition: all 0.3s ease-in;
    padding: 1rem 1.2rem !important;
}

.ui-state-default.ui-state-disabled:hover{
    background-color: rgba(65,65,65,0.7);
    color: white;
    padding: 1.5rem 2rem !important;
}

.ui-state-default.ui-state-disabled.next,.ui-state-default.next,.ui-state-default.ui-state-disabled.last,.ui-state-default.last,.ui-state-default.previous,.ui-state-default.ui-state-disabled.previous,.ui-state-default.ui-state-disabled.first, .ui-state-default.first{
    background-color: rgba(123, 124, 123, 0.8);
    color: white;
}

.dt-layout-cell{
    overflow-y: hidden;
}

@media screen and (max-width: 992px) {
    *{
        font-size: 58.5% !important;
    }
    
}

@media screen and (max-width: 768px) {
    *{
        font-size: 52.5% !important;
    }
    
}

@media screen and (max-width: 550px) {
    *{
        font-size: 48.5% !important;
    }
    
    .dt-search{
        flex-direction: column;
    }
}

@media screen and (max-width: 350px) {
    *{
        font-size: 42.5% !important;
    }
    
}

option{
    font-size: 1.5rem !important;
}

/* Loader Styling  */

.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
  
  .svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
  
  .svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }
  
  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
  }
  
  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }

  #loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    z-index: 99;
  }
  
  #loader {
    z-index: 100;
  }

  .loader-text{
    margin-top: 30em !important;
  }

  .text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid rgb(13,202,240); /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
      blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
  }

  @keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 6.2em;
    } /* adjust width based on content */
    90%,
    100% {
      width: 0;
    }
  }